.maps * {
  /* google maps */
  @apply font-sans text-sm text-fl-primary;
}
.profile-pic {
  @apply border-fl-secondary border-solid border;
  height: 20rem;
  width: 20rem;
}

.heading1 {
  @apply text-fl-primary tracking-wide p-2 text-4xl text-center no-underline;
}
.logo {
  @apply flex flex-col;
}
.line {
  @apply w-4/5 border-t;
}

.nav {
  @apply z-50 flex justify-between flex-wrap w-full p-4;
}
.nav:after {
  @apply block border-b;
  content: "";
  width: 110%;
}

.footer {
  background: rgba(0, 0, 0, 0.15);
  @apply pb-0 text-white h-auto;
}

.blogfooter {
  background: #36374d;
  @apply pb-0 text-white h-auto;
}

.footerStudio {
  @apply pb-0 h-auto;
  background: rgba(247, 222, 215, 0.6);
}

.btn-primary {
  @apply bg-fl-primary text-white font-bold py-2 px-4 rounded;
}

.btn-primary:hover {
  @apply bg-fl-primary;
}

.link-primary {
  @apply text-fl-primary font-semibold uppercase text-base no-underline tracking-wide;
}

.link-primary:hover {
  @apply text-fl-secondary-accent-alternate;
}

.link-primary-studio {
  @apply font-medium uppercase text-sm no-underline tracking-wide;
  color: #e1605f;
}

.link-primary-header-studio {
  @apply font-semibold uppercase text-base no-underline tracking-wide;
  color: #e1605f;
}

.link-primary-studio:hover {
  color: gray;
}

.active-link {
  @apply text-fl-secondary-accent-alternate;
}

.active-link-blog {
  color: #95a2b4;
}
.active-link-studio {
  color: gray;
}

.link-secondary {
  @apply text-white font-medium uppercase text-sm no-underline tracking-wide;
}

.link-secondary:hover {
  @apply text-fl-secondary;
}

.hamburgerMenu {
  @apply flex items-center px-3 py-2 border rounded text-fl-primary border-fl-primary;
}

.hamburgerMenu:hover {
  @apply text-fl-secondary border-fl-secondary;
}

.roundedButton {
  @apply text-fl-primary text-fl-secondary-accent text-2xl py-2 px-4 bg-fl-primary-alternate rounded-full;
}

.roundedButton:hover {
  @apply bg-fl-primary text-white;
}

.rectButton {
  @apply text-lg leading-normal text-fl-secondary-accent py-1 px-3 bg-fl-primary-alternate rounded-lg uppercase;
}

.rectButton:hover {
  @apply bg-fl-primary text-white;
}

.offerings-right {
  @apply flex p-16;
  /* background: url(/img/kolamBackground.png) no-repeat top right; */
}

.offerings-left {
  @apply flex p-16;
  /* background: url(/img/kolamBackground.png) no-repeat top left; */
}

.offering-content-left {
  @apply flex mx-5;
}
.offering-content-right {
  @apply mx-5;
}
.input-field {
  @apply border-fl-primary border-2 rounded py-2 px-4 opacity-75;
  width: calc(100% - 2rem);
  min-height: 1.5rem;
}
.input-field:hover {
  @apply border-fl-primary-alternate;
}

textarea {
  font-family: sans-serif;
  font-size: 1rem;
}
input {
  font-size: 1rem;
}
.input-field::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: sans-serif;
  color: #aaa;
  font-size: 1rem;
}

.input-field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: sans-serif;
  color: #aaa;
  font-size: 1rem;
}

.input-field::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: sans-serif;
  color: #aaa;
  font-size: 1rem;
}

.portfolio-list {
  @apply text-fl-primary-alternate text-sm uppercase border-0 pr-2 mb-3;

  &&:hover {
    @apply text-fl-primary;
  }
}

.service-list {
  @apply text-fl-primary-alternate text-lg uppercase border-0 pr-2 mb-3;

  &&:hover {
    @apply text-fl-primary;
  }
}

.caption {
  @apply rounded-lg m-0 h-auto bg-white min-h-0 min-w-0 overflow-hidden opacity-75 whitespace-normal;
}

/* iPhone with notch */

@supports (padding: max(0px)) {
  .footer {
    padding-left: max(3rem, env(safe-area-inset-left));
    padding-right: max(3rem, env(safe-area-inset-right));
  }
  .nav {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/* Mobile View */
@screen sm {
  .offerings-right {
    @apply p-2;
  }
  .offerings-left {
    @apply p-2;
  }
  .menu-links {
    @apply w-full block text-center flex-grow;
  }
  .caption {
    @apply p-1 text-left max-h-full max-w-xs text-xs;
  }
  .studioImages {
    display: contents;
  }
}
/* Tablet View */
@screen md {
  .two-column {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid $accent-color;
  }
  .offerings-right {
    @apply p-12;
  }
  .offerings-left {
    @apply p-12;
  }
  .menu-links {
    @apply w-full block flex-grow;
  }
  .caption {
    @apply p-3 max-w-xs text-lg;
  }
  .studioImages {
    display: block;
  }
}
/* Large Displays */
@screen lg {
  .two-column {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid #e6f2f2;
  }
  .offerings-right {
    @apply px-16 py-10;
  }
  .offerings-left {
    @apply px-16 py-10;
  }
  .menu-links {
    @apply w-auto flex-grow;
  }
  .caption {
    @apply p-3 max-w-xs text-xl;
  }
  .studioImages {
    display: block;
  }
}
@screen xl {
  .two-column {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid #e6f2f2;
  }
  .offerings-right {
    @apply px-16
      py-10;
  }
  .offerings-leftx {
    @apply px-16 py-10;
  }
  .menu-links {
    @apply w-auto flex-grow;
  }
  .caption {
    @apply leading-normal tracking-normal p-3 max-w-sm text-2xl;
  }
  .studioImages {
    display: block;
  }
}
