/* .blog {
  text-align: left;
}
.blog a {
  text-decoration: underline;
  color: -webkit-link;
}

.blog ul {
  list-style-type: disc;
  padding-inline-start: 40px;
  margin: 30px 0;
}

.blog li {
  font-size: 100%;
}

.blog {
  font-size: 100%;
}

.blog hr {
  height: 1px;
}

.blog h2 {
  font-size: 1.5rem;
  margin: 5px 0;
}

.blog img {
  height: auto;
  width: auto;
}

.blog p {
  /* line letter-spacing: line height text spacing; */
/* line-height: 1.5;
}
*/
.blog h1 {
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .blog h2,
  .blog h1 {
    font-size: 1rem;
    margin: 5px 0;
  }
}
