$accent-color: #e6f2f2;

$studio-color: #e1605f;

.studio-color {
  color: $studio-color;
}

.stuio-color-alternate {
  color: rgba(143, 157, 156, 0.15);
}

.bg-studio-color-alternate {
  background-color: rgba(143, 157, 156, 0.15);
}

.border-studio {
  border-color: $studio-color;
}

.primary {
  @apply text-fl-primary;
}
.secondary {
  @apply text-fl-primary-alternate;
}
.accent {
  @apply text-fl-primary-accent;
}
.bg-primary {
  @apply bg-fl-primary;
}
.bg-secondary {
  @apply bg-fl-secondary;
}
.bg-primary-alternate {
  @apply bg-fl-primary-alternate;
}
.bg-secondary-alternate {
  @apply bg-fl-secondary-alternate;
}
.bg-primary-accent {
  @apply bg-fl-primary-accent;
}
.bg-accent-alternate {
  @apply bg-fl-secondary-accent-alternate;
}
.border-primary {
  @apply border-fl-primary;
}
.border-primary-alternate {
  @apply border-fl-primary-alternate;
}
.border-secondary {
  @apply border-fl-secondary;
}
.border-alternate {
  @apply border-fl-secondary-alternate;
}
.text-primary-alternate {
  @apply text-fl-primary-alternate;
}
.text-primary {
  @apply text-fl-primary;
}
.text-secondary {
  @apply text-fl-secondary;
}
.text-secondary-alternate {
  @apply text-fl-secondary-alternate;
}
.text-accent-alternate {
  @apply border-fl-secondary-accent-alternate;
}
::selection {
  @apply text-white bg-fl-primary;
}
