$primary-color: #444f51;
$secondary-color: #ba4f1a;
$accent-color: #e6f2f2;
$accent-alternate: #6c807f;
$primary-alternate: #e6f2f2;
$secondary-alternate: #f1f1f1;

.primary {
  color: $primary-color;
}
.secondary {
  color: $secondary-color;
}
.accent {
  color: $accent-color;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-primary-alternate {
  background-color: $primary-alternate;
}
.bg-secondary-alternate {
  background-color: $secondary-alternate;
}
.bg-accent {
  background-color: $accent-color;
}
.bg-accent-alternate {
  background-color: $accent-alternate;
}
.border-primary {
  border-color: $primary-color;
}
.border-primary-alternate {
  border-color: $primary-alternate;
}
.border-secondary {
  border-color: $secondary-color;
}
.text-primary-alternate {
  color: $primary-alternate;
}
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
::selection {
  color: white;
  background: $primary-color;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $secondary-color;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}
