$primary-color: #70A999
$secondary-color: #5C5C5C

.primary
    color: $primary-color

.secondary
    color: $secondary-color

.bg-primary
    background-color: $primary-color

.bg-secondary
    background-color: $secondary-color

.border-primary
    border-color: $primary-color

.border-secondary
    border-color: $secondary-color

.text-primary
    color: $primary-color

.text-secondary
    color: $secondary-color
