.maps * {
  /* google maps */
  @apply font-neptune;
  border-style: none;
}
.profile-pic {
  @apply border-primary border-solid border-4 rounded-full;
}

.heading1 {
  @apply primary tracking-wide p-2 text-4xl text-center no-underline;
}
.logo {
  @apply w-12 m-2;
}
.line {
  @apply w-4/5 border-t;
}

.nav {
  @apply z-50 flex items-center justify-between flex-wrap bg-white pin-t w-full sticky shadow;
}
.nav:after {
  @apply block border-b;
  content: '';
  width: 110%;
}
.footer {
  @apply pin-b bg-primary text-white p-2 mt-1 w-full h-auto;
}
.btn-primary {
  @apply bg-primary text-white font-bold py-2 px-4 rounded;
}

.btn-primary:hover {
  @apply bg-primary;
}

.link-primary {
  @apply text-primary font-semibold uppercase text-sm no-underline tracking-wide py-6 px-3;
}

.link-primary:hover {
  @apply shadow-flPrimary border-primary text-primary-alternate;
}

.active-link {
  @apply shadow-flPrimary border-primary text-primary-alternate;
}

.link-secondary {
  @apply text-white font-medium uppercase text-sm no-underline
    tracking-wide px-4 py-2;
}

.link-secondary:hover {
  @apply text-secondary;
}

.hamburgerMenu {
  @apply flex items-center px-3 py-2 border rounded text-primary border-primary;
}

.hamburgerMenu:hover {
  @apply text-secondary border-secondary;
}

.roundedButton {
  @apply text-primary text-fl-secondary-accent text-2xl py-2 px-4 bg-primary-alternate rounded-full;
}

.roundedButton:hover {
  @apply bg-primary text-white;
}

.rectButton {
  @apply text-lg text-fl-secondary-accent py-1 px-3 bg-primary-alternate rounded-lg uppercase;
}

.rectButton:hover {
  @apply bg-primary text-white;
}

.offerings-right {
  @apply flex p-16;
  /* background: url(/img/kolamBackground.png) no-repeat top right; */
}

.offerings-left {
  @apply flex p-16;
  /* background: url(/img/kolamBackground.png) no-repeat top left; */
}

.offering-content-left {
  @apply flex mx-5;
}
.offering-content-right {
  @apply mx-5;
}
.input-field {
  @apply bg-secondary-alternate appearance-none border-2 border-primary-alternate rounded w-full py-2 px-4 text-primary leading-tight;
}
.input-field:hover {
  @apply border-primary;
}

.portfolio-list {
  @apply text-fl-primary-alternate text-sm uppercase border-0 pr-2 mb-3;

  &&:hover {
    @apply text-fl-primary;
  }
}

.service-list {
  @apply text-fl-primary-alternate text-lg uppercase border-0 pr-2 mb-3;

  &&:hover {
    @apply text-fl-primary;
  }
}

.caption {
  @apply rounded-lg m-0 h-auto bg-white min-h-0 min-w-0 overflow-hidden opacity-75 whitespace-normal;
}

/* iPhone with notch */

@supports (padding: max(0px)) {
  .footer {
    padding-left: max(3rem, env(safe-area-inset-left));
    padding-right: max(3rem, env(safe-area-inset-right));
  }
  .nav {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/* Mobile View */
@screen sm {
  /* #offerings {
    @apply pt-24 -mt-16;
  } */
  .profile-pic {
    @apply w-48 h-48;
  }
  .offerings-right {
    @apply p-2;
  }
  .offerings-left {
    @apply p-2;
  }
  .menu-links {
    @apply w-full block text-center flex-grow;
  }
  .caption {
    @apply p-1 text-left max-h-full max-w-xs text-xs;
  }
}
/* Tablet View */
@screen md {
  .two-column {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid $accent-color;
  }
  .profile-pic {
    @apply w-64 h-64;
  }

  .offerings-right {
    @apply p-12;
  }
  .offerings-left {
    @apply p-12;
  }
  .menu-links {
    @apply w-full block flex-grow;
  }
  .caption {
    @apply p-3 max-w-xs text-lg;
  }
}
/* Large Displays */
@screen lg {
  .two-column {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid $accent-color;
  }
  .profile-pic {
    @apply w-64 h-64;
  }
  .offerings-right {
    @apply px-16 py-10;
  }
  .offerings-left {
    @apply px-16 py-10;
  }
  .menu-links {
    @apply w-auto flex-grow;
  }
  .caption {
    @apply p-3 max-w-xs text-xl;
  }
}
@screen xl {
  .two-column {
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid $accent-color;
  }
  .profile-pic {
    @apply w-64 h-64;
  }
  .offerings-right {
    @apply px-16
    py-10;
  }
  .offerings-leftx {
    @apply px-16 py-10;
  }
  .menu-links {
    @apply w-auto flex-grow;
  }
  .caption {
    @apply leading-normal tracking-normal p-3 max-w-sm text-2xl;
  }
}
