@import color

.maps * // google maps
    @apply font-futura
    border-style: none

.profile-pic
    @apply border-primary border-solid border-4 rounded-full

.gradientBackground
    background: linear-gradient(-180deg, #f8fafc 0%, #f1f1f1 100%)

.heading1
    @apply primary tracking-wide p-2 text-4xl text-center no-underline

.logo
    @apply primary uppercase tracking-wide p-2 border-2 border-primary text-xl no-underline

.heroText
    @apply text-primary font-medium tracking-wide leading-normal

.nav
    @apply z-50 flex items-center justify-between flex-wrap bg-grey-lightest pl-10 pr-10 pt-5 pin-t sticky

.nav:after
    @apply block -mx-5 pt-5 border-b border-primary
    content: ""
    width: 110%

.link-primary
    @apply secondary uppercase text-lg no-underline tracking-wide p-4

.link-primary:hover
    @apply bg-grey-lighter

.link-secondary
    @apply text-white uppercase text-lg no-underline tracking-wide p-4

.link-secondary:hover
    @apply bg-white text-primary

.hamburgerMenu
    @apply flex items-center px-3 py-2 border rounded text-primary border-primary

.hamburgerMenu:hover
    @apply text-secondary border-secondary

.section
    @apply pb-16
    background: url(/img/headerBackground.svg) no-repeat top left

.offerings-right
    @apply flex p-16
    background: url(/img/kolamBackground.png) no-repeat top right

.offerings-left
    @apply flex p-16
    background: url(/img/kolamBackground.png) no-repeat top left

.offering-content-left
    @apply flex mx-5

.offering-content-right
    @apply mx-5

.input-field
    @apply bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight

.input-field:hover
    @apply border-primary 
// Mobile View

@screen sm
    #offerings
        @apply pt-24 -mt-16

    .profile-pic
        @apply w-48 h-48

    .offerings-right
        @apply p-2

    .offerings-left
        @apply p-2
    
    .heroText
        @apply p-10 text-2xl

    .menu-links
        @apply w-full block text-center flex-grow
        -webkit-transition: all 0.5s ease-in
        -o-transition: all 0.5s ease-in
        transition: all 0.5s ease-in
    .link-secondary
        @apply text-sm flex flex-auto p-2

// Tablet View

@screen md
    #offerings
        @apply pt-16 -mt-16

    .profile-pic
        @apply w-48 h-48

    .offerings-right
        @apply p-12

    .offerings-left
        @apply p-12

    .heroText
        @apply p-24 text-3xl

    .menu-links
        @apply w-full block text-center flex-grow

// Large Displays

@screen lg
    #offerings
        @apply pt-16 -mt-16

    .profile-pic
        @apply w-48 h-48

    .offerings-right
        @apply px-16 py-10

    .offerings-left
        @apply px-16 py-10

    .heroText
        @apply p-32 text-5xl
    
    .menu-links
        @apply w-auto flex-grow content-center items-center
        
    .link-secondary
        @apply text-lg flex flex-col flex-1 content-center

@screen xl
    #offerings
        @apply pt-16 -mt-16
        
    .profile-pic
        @apply w-48 h-48

    .offerings-right
        @apply px-16 py-10

    .offerings-leftx
        @apply px-16 py-10

    .heroText
        @apply p-32 text-5xl

    .menu-links
        @apply w-auto flex-grow content-center items-center
    
    .link-secondary
        @apply text-lg flex flex-col flex-1