@import color

.logo
    @apply primary uppercase tracking-wide p-2 border-2 border-primary text-xl no-underline

.heroText
    @apply text-primary font-medium tracking-wide leading-normal

.nav
    @apply z-50 flex items-center justify-between flex-wrap bg-grey-lightest pl-10 pr-10 pt-5 pin-t sticky

.nav:after
    @apply block -mx-5 pt-5 border-b border-primary
    content: ""
    width: 110%

.link-primary
    @apply secondary uppercase text-lg no-underline tracking-wide p-4

.link-primary:hover
    @apply bg-grey-lighter

.hamburgerMenu
    @apply flex items-center px-3 py-2 border rounded text-primary border-primary

.hamburgerMenu:hover
    @apply text-secondary border-secondary

.section
    @apply pb-16
    background: url(/img/headerBackground.svg) no-repeat top left

.offerings-right
    @apply flex p-16
    background: url(/img/kolamBackground.png) no-repeat top right

.offerings-left
    @apply flex p-16
    background: url(/img/kolamBackground.png) no-repeat top left

.offering-content-left
    @apply flex mx-5

.offering-content-right
    @apply mx-5

// Mobile View

@screen sm
    .offerings-right
        @apply p-2

    .offerings-left
        @apply p-2
    
    .heroText
        @apply p-10 text-xl

    .menu-links
        @apply w-full block text-center flex-grow
// Tablet View

@screen md
    .offerings-right
        @apply p-12

    .offerings-left
        @apply p-12

    .heroText
        @apply p-24 text-3xl

    .menu-links
        @apply w-full block text-center flex-grow
// Large Displays

@screen lg
    .offerings-right
        @apply p-16

    .offerings-left
        @apply p-16

    .heroText
        @apply p-32 text-5xl
    
    .menu-links
        @apply w-auto flex-grow content-center items-center

@screen xl
    .offerings-right
        @apply p-16

    .offerings-left
        @apply p-16

    .heroText
        @apply p-32 text-5xl

    .menu-links
        @apply w-auto flex-grow content-center items-center