@tailwind preflight;
@tailwind components;

@import 'neptune';
@import 'color';
@import 'components';
@import 'animation';
@import 'typography';
@import 'tab';
body {
  @apply font-sans antialiased overflow-x-hidden scrolling-touch border-none;
}
*,
*::after,
*::before {
  @apply border-none;
}
img {
  max-width: initial;
}
img:hover {
  opacity: 0.75;
}
p {
  @apply pb-2;
}
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
