@tailwind preflight;
@tailwind components;

@import 'color';
body {
  @apply font-neptune antialiased overflow-x-hidden scrolling-touch;
}
img {
  max-width: initial;
}
img:hover {
  opacity: 0.75;
}
p {
  @apply pb-2;
}
@import 'components';
@import 'tab';
@import 'animation';
@tailwind utilities;

@import 'typography';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
