@tailwind base;

@import 'neptune';
@import 'color';
@import 'components';
@import 'animation';
@import 'typography';
@import 'tab';

@tailwind components;

body {
  @apply font-sans antialiased overflow-x-hidden scrolling-touch border-none;
}
*,
*::after,
*::before {
  @apply border-none;
}
img {
  max-width: initial;
}
img:hover {
  opacity: 0.75;
}
p {
  @apply pb-2;
}

/* Fixed header and footer.
	* --------------------------------------- */
#header,
#footer {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 9;
}

#header {
  top: 0px;
}
#footer {
  bottom: 0px;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
