@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file) format('truetype');
    font-display: fallback;
  }
}
@include font('Neptune', '../fonts/Neptune-Medium.ttf');

body {
  @apply font-neptune;
}

.logoText {
  @apply secondary font-medium text-4xl no-underline;
}

.para-primary {
  @apply primary flex font-medium text-lg tracking-wide leading-normal;
}
.para-secondary {
  @apply secondary flex font-medium tracking-wide leading-normal;
}

@screen sm {
  .para-secondary {
    @apply text-lg;
  }
  .para-primary {
    @apply text-lg;
  }
}
@screen md {
  .para-secondary {
    @apply text-lg;
  }
  .para-primary {
    @apply text-lg;
  }
}
@screen lg {
  .para-secondary {
    @apply text-lg;
  }

  .para-primary {
    @apply text-lg;
  }
}
@screen xl {
  .para-secondary {
    @apply text-lg;
  }
  .para-primary {
    @apply text-lg;
  }
}
